.courses-section{
    background-image: url("../Images/home1.png");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 100px 20px;
    display: list-item;
}

.courses-container{
  gap:2rem;
  display: grid;
  color: rgb(250, 251, 251);
  max-width: 1300px;
}
.courses-container img{
  width:100px;
  height: 50px;
  border-radius: 10px;
}
.courses-container p {
  text-align: justify;
  line-height: 1.3;
  font-family: 'Times New Roman', Times, serif;
}
.pte{
  background-color: rgba(54, 53, 53, 0.54);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  border-radius: 10px;
}


.pte-description{
  color: rgb(250, 251, 251);
}

.oet{
  background-color: rgba(54, 53, 53, 0.54);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  border-radius: 10px;
}

.ielts{
  background-color: rgba(54, 53, 53, 0.54);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  border-radius: 10px;
}

.courses-container a{
  text-decoration: none;
  color: #060606;
  background-color: #fbd333;
  border-radius: 2px;
  padding: 3px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.courses-container a:hover{
  color: #090909;
  background-color: #ffcc00;
}

@media (max-width: 768px){
  .courses-section{
    padding: 50px 20px;
  }
  .courses-container{
    flex-direction: column;
  }
}