.courses-section{
    background-image: url("../Images/home1.png");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 120px 40px;
    display: list-item;
}

.courses-container{
  gap:2rem;
  display: flex;
  color: rgb(250, 251, 251);
}
img{
  width:200px;
  height: 100px;
  border-radius: 10px;
}
.pte{
  background-color: rgba(54, 53, 53, 0.54);
  height: fit-content;
  padding: 10px 10px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}


.pte-description{
  color: rgb(250, 251, 251);
}

.oet{
  background-color: rgba(54, 53, 53, 0.54);
  height: fit-content;
  padding: 10px 10px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}

.ielts{
  background-color: rgba(54, 53, 53, 0.54);
  height: fit-content;
  padding: 10px 10px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}

.courses-container a{
  text-decoration: none;
  color: #ffe602ad;
}
.courses-container a:hover{
  color: rgb(253, 241, 6);
}

@media (max-width: 768px){
  .courses-section{
    padding-top: 40px;
  }
  .courses-container{
    flex-direction: column;
  }
}